.search {
    background-color: rgba(0, 0, 0, .08);
    border-radius: 4px;
    position: relative;
    height: 40px;
    margin-right: 30px;
    width: 480px;
    transition: all 0.36s;
}

.search div {
    display: flex;
    align-items: center;
    gap: 8px;
    height: 40px;
    padding: 0 8px;
    width: 100%;
}

.search input {
    background-color: transparent;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    color: rgba(0, 0, 0, .87);
    flex: 1 1;
    font-size: 0.875rem;
    outline: 0;
    transition: all .36s;
    font-weight: 200;
    line-height: 1.15;
}

.search input:focus {
    outline: none;
}

.search button {
    background-color: unset;
    color: rgba(0, 0, 0, .52);
    font-size: 1rem;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    line-height: 1;
    border: none;
    transition: all 0.36s;
}

.search:hover .searchBtn {
    color: rgba(0, 0, 0, .87);
}

.search .close {
    display: flex;
    align-items: center;
    justify-content: center;
}

.search .close:hover {
    cursor: pointer;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, .09);
}
@media  (max-width: 950px) {
    .search{
        width: 350px;
    }
}

@media (max-width: 768px) {
    .search {
        margin-right: 20px;
        height: 36px;
    }

    .search div {
        gap: 6px;
        padding: 0 6px;
    }

    .search input {
        font-size: 0.8rem;
    }

    .search button {
        font-size: 0.9rem;
        width: 18px;
        height: 18px;
    }
}

@media (max-width: 480px) {
    .search {
        height: 34px;

    }

    .search div {
        gap: 4px;
        padding: 0 4px;
    }

    .search input {
        font-size: 0.75rem;
    }

    .search button {
        font-size: 0.8rem;
        width: 16px;
        height: 16px;
    }
}
@media (max-width: 260px) {
    .search{
        margin-right: 0;
    }
}