.sidebar {
    margin-top: 30px;
    width: 200px;
    transition: width 0.3s ease;
}

.sidebar li {
    padding: 5px;
    list-style: none;
    display: flex;
    align-items: center;
    margin: 10px 0;
    cursor: pointer;
}

.sidebar li p:hover {
    color: rgba(0, 0, 0, .87);
}

.sidebar li p {
    font-weight: 200;
    margin-right: 10px;
    color: grey;
}

.selected {
    background-color: rgb(247, 244, 244);
    color: rgba(0, 0, 0, .87);
    border-radius: 10px;
}


@media (max-width: 768px) {
    .sidebar {
        width: 150px;
    }

    .sidebar li {
        margin: 15px 0;
    }

    .sidebar li p {
        font-size: 14px;
    }
}

@media (max-width: 600px) {
    .sidebar {
        width: 100%;
        margin-top: 20px;
    }

    .sidebar ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 30px;
        align-items: center;
    }

    .sidebar li {
        margin: 10px 0;
        justify-content: center;
    }

    .sidebar li p {
        font-size: 12px;
    }
}

@media (max-width: 400px) {
    .sidebar {
        padding: 10px;
    }

    .sidebar li {
        flex-direction: column;
        text-align: center;
    }

    .sidebar li p {
        margin: 5px 0;
    }
}